{
  "extends": "airbnb",
  "rules": {
    "no-underscore-dangle": 0,
    "object-curly-newline": 0,
    "react/destructuring-assignment": 0,
    "react/jsx-props-no-spreading": 0,
    "react/prop-types": "warn"
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  }
}